body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

blockquote {
  border-left: 5px solid #eee;
  display: block;
  margin-left: 0px;
  padding-left: 10px;
}

li {
  padding-bottom: 15px;
}

.red {
  color: red;
}